[run]
concurrency = multiprocessing
parallel = true
branch = True
omit =
    tests/*
    docs/*
    env/*
    specs/*
    main.py
    setup.py
    performance.py
    testing.py
    .github/*
    sample/*
    temp/*

[coverage:report]
show_missing = True
exclude_lines =
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod

[html]
directory = docs
